[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "{{ description }}"
readme = "README.md"
requires-python = ">=3.10"
license = { text = "MIT" }
authors = [
    { name = "{{ author }}" },
]
dependencies = [
    "flet>=0.80.0",
]

[project.urls]
Homepage = "https://github.com/{{ author }}/{{ project_name }}"
Documentation = "https://github.com/{{ author }}/{{ project_name }}"
Repository = "https://github.com/{{ author }}/{{ project_name }}"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"flutter.{{ package_name }}" = ["**/*"]

[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"
