from typing import Optional
import flet as ft


@ft.control("{{ control_name }}")
class {{ control_name }}(ft.LayoutControl):
    """{{ description }}"""

    # TODO: Add your visual properties here
    # color: Optional[ft.ColorValue] = None
    # size: float = 100.0
