from typing import Optional
import flet as ft

from {{ package_name }}.types import {{ control_name }}ErrorEvent


@ft.control("{{ control_name }}")
class {{ control_name }}(ft.LayoutControl):
    """{{ description }}"""

    # TODO: Add your visual properties here
    # color: Optional[ft.ColorValue] = None
    # size: float = 100.0

    on_error: Optional[ft.EventHandler[{{ control_name }}ErrorEvent]] = None
    """Called when an error occurs in the SDK."""
