name: {{ package_name }}
description: "{{ description }}"
version: 0.1.0

environment:
  sdk: ^3.5.0
  flutter: ">=3.29.0"

dependencies:
  flutter:
    sdk: flutter
  flet: ^0.80.5
  {{ flutter_package }}: {{ flutter_package_version | default("any") }}

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
