import flet as ft
from {{ package_name }} import {{ control_name }}


def main(page: ft.Page):
    page.title = "{{ control_name }} Example"

    {{ control_name_snake }} = {{ control_name }}()
    page.services.add({{ control_name_snake }})

    async def on_click(e):
        await {{ control_name_snake }}.example_method("hello")

    page.add(
        ft.Text("{{ control_name }} Service Example"),
        ft.ElevatedButton("Call Example Method", on_click=on_click),
    )


if __name__ == "__main__":
    ft.run(main)
