import 'package:flet/flet.dart';
import 'package:flutter/widgets.dart';
import '{{ control_name_snake }}_control.dart';

class Extension extends FletExtension {
  @override
  Widget? createWidget(Key? key, Control control) {
    switch (control.type) {
      case "{{ control_name }}":
        return {{ control_name }}Control(control: control);
      default:
        return null;
    }
  }
}
