import 'package:flutter/material.dart';
import 'package:flutter/foundation.dart';
import 'package:flet/flet.dart';


class {{ widget_class_name }} extends StatefulWidget {
  final Control control;
  final Control? parent;
  final FletControlBackend backend;

  const {{ widget_class_name }}({
    super.key,
    required this.parent,
    required this.control,
    required this.backend,
  });

  @override
  _{{ widget_class_name }}State createState() => _{{ widget_class_name }}State();
}

class _{{ widget_class_name }}State extends State<{{ widget_class_name }}> {
  @override
  Widget build(BuildContext context) {
    print("{{ instance_name|capitalize }} build: \${widget.control.id} (\${widget.control.hashCode})");

    () async {
      widget.backend.subscribeMethods(widget.control.id, (methodName, args) async {
        try {
          return switch (methodName) {
            {% for method in methods %}
            "{{ method }}" => _{{ method }}(args),
            {% endfor %}
            _ => null,
          };
        } catch (error, stackTrace) {
          print("Error:\\nmethodName: \$methodName\\nerror: \$error\\nstackTrace: \$stackTrace");
          widget.backend.triggerControlEvent(
            widget.control.id,
            "error",
            "methodName: \$methodName\\nerror: \$error\\nstackTrace: \$stackTrace",
          );
          return error.toString();
        }
      });
    }();

    return const SizedBox.shrink();
  }

  // Auxiliares gerados dinamicamente
  {% for method in methods %}
  Future<String?> _{{ method }}(Map<String, dynamic> args) async {
    print("Called {{ method }} with args: \$args");
    return "{{ method }} result";
  }
  {% endfor %}
}